<form action="updateProfile" class="form-horizontal"
      method="post" onsubmit="return confirmChanges()">
    <div class="form-group">
        <label class="control-label col-sm-4">Phone Number: </label>
        <div class="col-sm-3">
            <input class="form-control" id="phoneNumber" name="phoneNumber"
                   required type="text" value="{{info.phoneNumber}}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">New Password:</label>
        <div class="col-sm-3">
            <input class="form-control" name="newPassword" placeholder="New Password"
                   type="password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Confirm Password:</label>
        <div class="col-sm-3">
            <input class="form-control" name="confirmPass" placeholder="Confirm New Password"
                   type="password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">First Name: </label>
        <div class="col-sm-3">
            <input class="form-control" id="firstName" name="firstName"
                   required type="text" value="{{info.firstName}}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Last Name: </label>
        <div class="col-sm-3">
            <input class="form-control" id="lastName" name="lastName" required
                   type="text" value="{{info.lastName}}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Email: </label>
        <div class="col-sm-3">
            <input class="form-control" id="email" name="email" required
                   type="text" value="{{info.email}}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Address: </label>
        <div class="col-sm-3">
            <input class="form-control" id="address" name="address" required
                   type="text" value="{{info.address}}">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-4">Current Password: </label>
        <div class="col-sm-3">
            <input class="form-control" name="currentPass" required
                   type="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input class="btn btn-lg btn-block btn-primary" type="submit"
                   value="Save Changes">
        </div>
    </div>
</form>
